<a href="https://colab.research.google.com/github/SachinScaler/Jan25_Python/blob/main/OOPS_1%7CLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class BankAccount:
    pass

In [3]:
ba1 = BankAccount() # instance of bankAccout

In [5]:
isinstance(ba1, BankAccount)

True

In [6]:
ba2 = BankAccount() # instance of bankAccout

In [7]:
id(ba1) , id(ba2)

(140708518706384, 140708511816656)

In [8]:
ba1.acc_id = 101

In [9]:
ba1.__dict__

{'acc_id': 101}

In [10]:
ba2.__dict__

{}

In [12]:
class BankAccount:
    def __init__(self, acc_id, balance, bank_name):
        self.acc_id = acc_id
        self.balance = balance
        self.bank_name = bank_name

ba1 = BankAccount() # instance of bankAccout

TypeError: BankAccount.__init__() missing 3 required positional arguments: 'acc_id', 'balance', and 'bank_name'

In [14]:
ba1 = BankAccount(101, 5000, "SBI") # instance of bankAccout
ba1.__dict__

{'acc_id': 101, 'balance': 5000, 'bank_name': 'SBI'}

In [15]:
ba2 = BankAccount(102, 10000, "SBI") # instance of bankAccout
ba2.__dict__

{'acc_id': 102, 'balance': 10000, 'bank_name': 'SBI'}

In [16]:
dir(ba2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'acc_id',
 'balance',
 'bank_name']

In [17]:
class BankAccount:
    def __init__(self, acc_id, balance, bank_name):
        print(self, id(self))
        self.acc_id = acc_id
        self.balance = balance
        self.bank_name = bank_name

ba1 = BankAccount(101, 5000, "SBI") # instance of bankAccout

<__main__.BankAccount object at 0x7ff940dd1f90> 140708511817616

In [18]:
print(ba1, id(ba1))

<__main__.BankAccount object at 0x7ff940dd1f90> 140708511817616

In [19]:
ba2 = BankAccount(102, 10000, "SBI") # instance of bankAccout
print(ba2, id(ba2))

<__main__.BankAccount object at 0x7ff940dd3eb0> 140708511825584
<__main__.BankAccount object at 0x7ff940dd3eb0> 140708511825584

### Random Example

In [22]:
class A:
    def __init__(num, self):
        print(num)
        print(self)

a1 = A(10)

<__main__.A object at 0x7ff940dd1930>
10

In [24]:
class BankAccount:
    def __init__(self, acc_id, balance, bank_name):
        self.acc_id = acc_id
        self.balance = balance
        self.bank_name = bank_name

    def credit(self, amount):
        self.balance += amount

    def check_balance(self):
        return self.balance

    def debit(self, amount):
        pass
        # implement this

ba1 = BankAccount(101, 5000, "SBI")
ba1.check_balance()

5000

In [25]:
ba2 = BankAccount(102, 1000, "SBI")
ba2.check_balance()

1000

In [26]:
ba1

In [27]:
ba1.balance

5000

In [28]:
ba1.balance = 1000000

In [29]:
ba1.balance

1000000

In [30]:
ba1.check_balance()

1000000

### Access Specifier

In [32]:
class BankAccount:
    def __init__(self, acc_id, balance, bank_name):
        self.__acc_id = acc_id # private vars
        self.__balance = balance # private vars
        self.bank_name = bank_name # public
        self._name = "some string" # protected

    def credit(self, amount):
        self.__balance += amount

    def check_balance(self):
        return self.__balance

    def debit(self, amount):
        pass

ba1 = BankAccount(101, 5000, "SBI")
ba1.check_balance()

5000

In [33]:
ba1.balance

AttributeError: 'BankAccount' object has no attribute 'balance'

In [34]:
ba1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [35]:
ba1.balance = 1000000000
ba1.__balance = 1000000000

In [36]:
ba1.check_balance()

5000

In [37]:
ba1.__dict__

{'_BankAccount__acc_id': 101,
 '_BankAccount__balance': 5000,
 'bank_name': 'SBI',
 '_name': 'some string',
 'balance': 1000000000,
 '__balance': 1000000000}

In [38]:
ba1._BankAccount__balance = 1000000000

In [39]:
ba1.check_balance()

1000000000

### Polymorhpism

In [40]:
1 + 2 # int: mathematical addition: __add__

3

In [42]:
"1" + "2" # str: concatenation addition: __add__

'12'

### Activity for AW:
#### implement class rectangle:
vars:
- length
- bread

method:
- check_area

#### implement class circle:
vars:
- radius

method:
- check_area

In [44]:
class Student:
    pass
isinstance(Student, object)

True

In [45]:
dir(Student)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']